html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    background-color: #eff483;
}

.logo{
    font-family: 'QUARTZO Light';
    font-size: 30px;
    color: #194027;
    z-index: 100000;
}

.nav-links{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.nav-links a{
    font-family: 'QUARTZO Light';
    font-size: 30px;
    color: #194027;
    text-decoration: none;
    transition: 0.5s;
}

.nav-links a:hover{
    font-size: 35px;
}


/* burger menu*/

.burger-menu{
    display: none;
}


.burger-menu img {
    width: 50px;
    cursor: pointer;
    padding-top: 10px;
}



#fullscreenMenu{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: #fff6ed;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

@keyframes bgAppear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes bgDisappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;
    }
}


#fullscreenMenu.show{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
    animation: bgAppear 0.5s ease forwards;
}

#fullscreenMenu.hide{
    animation: bgDisappear 0.5s ease forwards;
}

.burgMenu-link{
    text-decoration: none;
    cursor: pointer;
    font-size: 38px;
    transition: 0.5s;
    animation: linkAppear 0.8s ease forwards;
}

.burgMenu-link:hover{
    color:#28633d;
}

@keyframes linkAppear{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.closeMenu{
    position: absolute;
    top: 1.5%;
    right: 5%;
    cursor: pointer;
    animation: closeAppear 0.3s ease;
    padding-top: 8px;
    width: 45px;
}

@keyframes closeAppear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/**/

.header-container{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.main img{
    position: relative;
    max-width: 85%;
    max-height: 600px;
    margin: 0 auto;
    display: block;
    border-radius: 30% 40% 35% 40%;
    padding: 20px;
    z-index: 11;
    animation: rotate 1s ease-in-out infinite alternate;
}

.main h1{
    position: relative;
    font-family: 'QUARTZO Regular';
    color: #194027;
    font-size: 450px;
    text-wrap: nowrap;
    margin-top: -330px;
    z-index: 10;
    text-align: center;
}

/*marquee*/

.wave-text{
    display: flex;
    width: max-content;
    text-wrap: nowrap;
    animation: scroll 20s infinite linear;
    gap: 3rem;
    margin-top: -20px;
    border-top: 1px solid #2e7849;
    border-bottom:  1px solid #2e7849;
}

.wave-text p{
    color: #194027;
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 500;
}

.wave-text p::after{
    content: "✦";
}

.wave-text:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    to{
        transform: translate(calc(-50% - 1.5rem));
    }
}

@keyframes rotate{
    0% {
            transform: translateY(0);
    }
    100% {
            transform: translateY(-20px);
    }
}

/**/

.book-btn{
    display: block;
    width: 400px;
    height: 150px;
    position: relative;
    z-index: 12;
    border-radius: 50%;
    border: 1px solid #2e7849;
    background-color: #ed6b2d;
    color: #194027;
    font-family: 'QUARTZO Regular';
    color: #194027;
    font-size: 30px;
    text-wrap: nowrap;
    text-align: center;
    text-decoration: 1.5px underline;
    text-underline-offset: 8px;
    left: 70%;
    margin-top: -550px;
    transition: 0.6s ease;
    cursor: pointer;
}

.book-btn:hover{
    background-color: #ffc400;
    color: #257442;
    font-size: 33px;
}


.wavy-line {
    width: 150px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 120px;
  }
  .wavy-line:before {
    display:block;
    content: "xxxxxxxxxxxxxx";
    position: relative;
    top: -35px;
    color: transparent;
    width: calc(100% + 27px);
    font-size: 45px;
    text-decoration: wavy #194027 underline;
    animation: animate 1.5s linear infinite;
    -webkit-animation: animate 1.5s linear infinite;
  }
  
  @keyframes animate {
    0% { left: -0px; }
    100% { left: -45px;}
  }
  @-webkit-keyframes animate {
    0% { left: -0px; }
    100% { left: -45px;}
  }
  
  .wavy-line-green:before { 
    text-decoration-color: #194027; 
}

.rejoice{
    padding-bottom: 70px;
}

.rejoice-header{
    font-family: 'QUARTZO Regular';
    color: #194027;
    font-size: 120px;
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 120px;
}

.rejoice-text{
    color: #194027;
    text-align: center;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 400;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.rejoice-container{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hours h2, .find-us h2{
    font-family: 'QUARTZO Light';
    font-size: 28px;
    color: #194027;
    text-align: center;
}

.hours p, .find-us p, .find-us a{
    color: #194027;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.find-us a{
    display: block;
    text-decoration: none;
}



.rejoice-img{
    position: relative;
}

.rejoice-img-container{
    position: relative;
    display: inline-block;
}

.rejoice-img img{
    display: block;
    width: 600px;
    height: 700px;
    object-fit: cover;
    border-top-left-radius: 255px;
    border-top-right-radius: 255px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 0 auto;
    margin-left: 50px;
}

.gear-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #ed6b2d;
    width: 250px;
    height: 250px;
    font-family: 'QUARTZO Light';
    font-size: 28px;
    color: #194027;
    text-wrap: nowrap;
    border: none;
    aspect-ratio: 1;
    --g:/14.796% 14.796% radial-gradient(#000 calc(71% - 1px),#0000 71%) no-repeat;
    mask: 100% 50% var(--g),96.985% 67.101% var(--g),88.302% 82.139% var(--g),75% 93.301% var(--g),58.682% 99.24% var(--g),41.318% 99.24% var(--g),25% 93.301% var(--g),11.698% 82.139% var(--g),3.015% 67.101% var(--g),0% 50% var(--g),3.015% 32.899% var(--g),11.698% 17.861% var(--g),25% 6.699% var(--g),41.318% 0.76% var(--g),58.682% 0.76% var(--g),75% 6.699% var(--g),88.302% 17.861% var(--g),96.985% 32.899% var(--g),radial-gradient(100% 100%,#000 41.955%,#0000 calc(41.955% + 1px));
    animation: spin 7s infinite linear;
}


  .gear-text a{
    color: #194027;
    text-underline-offset: 8px;
    transition: 0.5s;
  }

  .gear-text a:hover{
    font-size: 30px;
    color:#ffe600;
  }



@keyframes spin {
   0% {
      transform: rotate(0);
   }
   100% {
      transform: rotate(360deg);
   }
}


.gear-cont{
    position: absolute;
    margin-top: -650px;
    margin-left: 500px;
}

.gear-btn{
    z-index: 1;
}

.gear-text{
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'QUARTZO Light';
    font-size: 23px;
    color: #194027;
    text-wrap: nowrap;
    z-index:2;
    margin-top: 130px;
    margin-left: 125px;
}

footer{
    background-color: #194027;
}


.wavy-line-white{
    padding-top: 100px;
}


.wavy-line-white:before{
    text-decoration-color: #fff;
    text-decoration: wavy #fff underline;
}

.footer-header{
    font-family: 'QUARTZO Regular';
    color: #fff;
    font-size: 180px;
    text-wrap: nowrap;
    text-align: center;
    margin-top: 80px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.find-us-footer h2, .hours-footer h2{
    color: #fff;
}

.find-us-footer{
    margin-left: 120px;
}

.hours-footer p, .find-us-footer p, .find-us-footer a{
    color: #fff;
}


.sitemap h2{
    font-family: 'QUARTZO Light';
    font-size: 28px;
    color: #fff;
    text-align: center;
}

.sitemap a{
    color: #fff;
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    display: block;
    text-underline-offset: 6px;
    transition: 0.2s;
}

.sitemap a:hover{
    color: #d2d2d2;
}

.media-container{
    max-width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0 40px 0;
}

.media-container svg{
    width: 45px;
    transition: 0.5s;
}

#Instagram{
    width: 42px;
}

.media-container svg:hover, #Instagram:hover{
    width: 55px;
    cursor: pointer;
}